.SideBar-Container {
  width: 20%;
  display: flex;
  justify-content: center;
}
.SideBar-Content {
  width: 60%;
}
.SideBar-Header-Title {
  border-bottom: 4px solid #aaa;
  margin-bottom: 8px;
}
.SideBar-Header-SearchBox {
  display: flex;
  justify-content: space-between;
}
.SideBar-Header-SearchBox input {
  width: 72%;
  height: 30px;
  border-radius: 5px;
  padding-left: 5px;
}
.SideBar-Header-SearchBox button {
  width: 20%;
  height: 36px;
  border-radius: 5px;
  border: 1px solid #aaa;
  background-color: #aaa;
  color: white;
}
.SideBar-SType,
.SideBar-HMake {
  display: flex;
  flex-direction: column;
  border-bottom: 4px solid #aaa;
}
.SideBar-Title {
  margin: 5px 0% 2px 0%;
}
.Rap-Col {
  display: flex;
  align-items: center;
  height: 20px;
}

.Rap-Col label {
  font-size: 14px;
  font-weight: 500;
  font-family: "Prompt", sans-serif;
  color: #565656;
  margin-left: 5px;
}
