.Step-Cal-Header :first-child {
  color: #649dad;
  font-size: 22px;
  font-weight: 600;
  font-family: "Prompt", sans-serif;
  margin: 5px 0% 0% 0%;
}

.Step-Cal-Header :nth-child(2) {
  color: #565656;
  font-size: 18px;
  font-weight: 400;
  font-family: "Prompt", sans-serif;
  margin: 0% 0% 0% 0%;
}

.Step-Cal-Container {
  display: flex;
  justify-content: center;
}
.Step-Cal-Content {
  background-color: #f8f8f8;
  width: 90%;
  display: flex;
  justify-content: center;
}

.Step-Cal-Content-Header {
  width: 75%;
}

.Step-Cal-Content-Header p {
  color: #649dad;
  font-size: 20px;
  font-weight: 500;
  font-family: "Prompt", sans-serif;
  margin: 0% 0% 0% 0%;
}
